.dialog-bubble {
    -fx-padding: 8px 10px 8px 10px;
    -fx-font-size: 12px;
    -fx-max-width: 280px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 1px;
    -fx-wrap-text: true;
}

.user-bubble {
    -fx-background-color: linear-gradient(to bottom right, #b6f7b1, #6ee7b7);
    -fx-text-fill: #114b30;
    -fx-border-color: #54b76a;
    -fx-background-radius: 14px 14px 0 14px;
    -fx-border-radius: 14px 14px 0 14px;
}

.guma-bubble {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #1f2937;
    -fx-border-color: #cbd5e1;
    -fx-background-radius: 14px 14px 14px 0;
    -fx-border-radius: 14px 14px 14px 0;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

